<h1>Please select one of the following methods for login</h1>

<section>
  <%= button_to 'Connect via Google', google_login_path, method: :get %>
  <%= button_to 'Connect via Facebook', facebook_login_path, method: :get %>
</section>
