<h1><span style="font-family:Apple Chancery">Pink Flamingo</span></h1>
<h3>An app to bring you closer to your community</h3>

<section>
  <%= link_to "What is it?", about_path %>

  <% unless current_user %>
    <%= button_to 'Connect via Facebook', facebook_login_path, method: :get %>
    <%= button_to 'Connect via Google', '/auth/google_oauth2', method: :get %>
  <% end %>
</section>
