<header class="masthead text-center text-white">
  <div class="masthead-content">
    <h2 class="masthead-subheading mb-0">Edit the Event:</h2>
    <div class="edit-event">
      <main>
        <div class="col-xl"></div>
      <%= render partial: "form" %>
    </div>
  </div>
</header>
