<h1>Nearby Events in Your Neighborhood</h1>


<section>
<% @events.each do |event| %>
  <% if facade.local_events(current_user.address, event.address) <= event.radius %>
    <div class='event-<%= event.id %>'>
      <h3 class="title"><%= link_to event.title, event_path(event.id) %></h3>
      <p class="date"><%= event.date %></p>
      <div class="delete-event"><%= button_to "Delete Event", event_path(event), method: :delete, data: { confirm: "Are you sure?" } %></div>
    </div>
  <% end %>
<% end %>
</section>
