<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/styles/vacation_spots.css">
    <script type="text/javascript" src="assets/javascripts/vacationSpots.js"></script>
    <title>Top Vacation Spots</title>
  </head>
  <body>
    <section class="column one">
      <article class="paris">
        <div class="paris-header background">
          <h3 class="header">Paris</h3>
          <button id="parisBtn" class="btn" type="button" name="paris">Learn More</button>
        </div>
      </article>
    </section>
    <section class="column two">
      <article class="new-york">
        <div class="new-york-header background">
          <h3 class="header">New York</h3>
          <button id="newYorkBtn" class="btn" type="button" name="new-york">Learn More</button>
        </div>
      </article>
      <article class="hawaii">
        <div class="hawaii-header background">
          <h3 class="header">Hawaii</h3>
          <button id="hawaiiBtn" class="btn" type="button" name="hawaii">Learn More</button>
        </div>
      </article>
    </section>
    <section class="column three">
      <article class="rome">
        <div class="rome-header background">
          <h3 class="header">Rome</h3>
          <button id="romeBtn" class="btn" type="button" name="rome">Learn More</button>
        </div>
      </article>
      <article class="cancun">
        <div class="cancun-header background">
          <h3 class="header">Cancun</h3>
          <button id="cancunBtn" class="btn" type="button" name="cancun">Learn More</button>
        </div>
      </article>
    </section>
  </body>
</html>
