@import "bootstrap-sprockets";
@import "bootstrap";

.wrap {
  height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.wrap-welcome {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

input[type=submit] {
  background-color: white;
  font-size: 20px;
  color: black;
  padding: 5px 5px;
  margin: 5px 0;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #91959c;
}

event-container {
  border-color: black;
  background-color: gray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 175px;
}

.label-style {
   color: black;
 }

.card-content {
 	border: 4px;
  background-image: url("event_background.png");
 	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
 }

.card-header {
  color: black;
}

.delete-event input[type=submit]{
  background-color: gray;
  color: white;
}
