body {
	/* background-color: #575252; */
  color: #e61ea4;
	text-align: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/531/754/non_2x/vector-illustration-pink-flamingo-isolated-on-white-background.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}

input[type=submit] {
  width: 20%;
  background-color: #91959c;
  color: white;
  padding: 5px 5px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #91959c;
}
